<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<div th:replace="fragments/navbar :: imports"></div>
<div th:replace="fragments/navbar :: background"></div>

<head>

    <title>Cryptocoin Home Page</title>

</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

    <br>
    <br>
    <br>

<div class="card bg-light mb-3 mx-auto" style="width: 60rem;">
    <div class="card-header text-center"><h2>Welcome to Mirkelor's Cryptocoin Index</h2></div>
</div>

</body>
</html>