<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<div th:fragment='imports'>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

    <script type="text/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</div>

<style th:fragment='background'>
    body {
        background-image: url("../img/background.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center center;
        background-repeat:   no-repeat;
    }
    li {
        list-style-type: none;
    }
</style>

<head>

    </head>
<body>

<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #f2f2f2;" th:fragment='navbar'>
    <a class="navbar-brand" href="#">
        Mirkelor
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/list}">Coin List</a>
            </li>
            <li class="nav-item">
                <span sec:authorize="isAnonymous()">
                <a class="nav-link" th:href="@{/login}">Login</a>
                </span>
            </li>
            <li class="nav-item">
                <span sec:authorize="isAnonymous()">
                <a class="nav-link" th:href="@{/registration}">Registration</a>
                </span>
            </li>
            <li class="nav-item">
                <span sec:authorize="isAuthenticated()">
            </span>
            </li>
        </ul>

        <ul th:if="${#httpServletRequest.requestURI} == '/list'" class="navbar-nav mr-auto mt-lg-0">
            <li class="form-inline my-2 my-lg-0 mr-5">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-info" type="submit">Search</button>
            </li>
        </ul>
        <span sec:authorize="isAuthenticated()">
            <li class="nav-item dropdown mr-5">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <span sec:authentication="name"/>
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" th:href="@{/@{'username'}/profile}">Profile</a>
                    <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                </div>
            </li>
        </span>
    </div>
</nav>

</body>
</html>