<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<div th:replace="fragments/navbar :: imports"></div>
<div th:replace="fragments/navbar :: background"></div>

<head>
    <meta charset="UTF-8">
    <title th:text="${#strings.capitalize(#authentication.getPrincipal().getUsername())} + ' Details - Mirkelor'"></title>
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<br>

<div class="card bg-light mb-3 mx-auto" style="width: 32rem;">
    <div class="card-header text-center">
        <h2><span th:text="${#strings.capitalize(#authentication.getPrincipal().getUsername())}"/> Details</h2></div>
    <div class="card-body text-left" th:object="${user}">
        <div class="container" th:if="${#strings.contains(#httpServletRequest.requestURI, 'user/profile')}">
            <table class="table table-bordered table-striped">
                <tbody>
                <tr>
                    <td>Username</td>
                    <td th:text="*{username}"/>
                </tr>
                <tr>
                    <td>First Name</td>
                    <td th:text="*{firstName}"/>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td th:text="*{lastName}"/>
                </tr>
                <tr>
                    <td>Password</td>
                    <td th:text="'****************'"/>
                </tr>
                <tr>
                    <td>Email</td>
                    <td th:text="*{email}"/>
                </tbody>
            </table>

            <div class="card">
                <div class="btn-group">
                    <a th:href="@{edit}"
                      class="btn btn-info btn-sm">
                    Update
                    </a>

                    <a th:href="@{delete}"
                       class="btn btn-danger btn-sm"
                       onclick="if (!(confirm('Are you sure you want to delete this user?'))) return false">
                        Delete
                    </a>
                </div>
            </div>
        </div>

        <div class="container" th:if="${#strings.contains(#httpServletRequest.requestURI, 'user/edit')}">
            <table class="table table-bordered table-striped">
                <tbody>
                <form th:action="@{/user/edit}" th:object="${userRegistrationDto}" method="post">

                    <!-- Check for registration error -->
                    <div th:if="${registrationError != null}">

                        <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                            ${registrationError}
                        </div>

                    </div>

                    <!-- User name -->

                    <div class="form-group" >
                        <label for="username"><h6>Username :  <span sec:authentication="name"></span></h6> </label>
                        <input type="hidden" id="username" placeholder="Username (*)" autofocus="autofocus" class="form-control mt-auto" th:field="*{username}"/>
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                    </div>

                    <!-- Password -->
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" placeholder="Password (*)" class="form-control" th:field="*{password}"/>
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                    </div>

                    <!-- Confirm Password -->
                    <div class="form-group">
                        <label for="matchingPassword">Confirm Password</label>
                        <input type="password" id="matchingPassword" placeholder="Confirm password (*)" class="form-control" th:field="*{matchingPassword}"/>
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('matchingPassword')}" th:errors="*{matchingPassword}"></p>
                    </div>


                    <!--First name-->
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" id="firstName" placeholder="First name (*)" class="form-control" th:field="*{firstName}"/>
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
                    </div>

                    <!-- Last name -->
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" id="lastName" placeholder="Last name (*)" class="form-control" th:field="*{lastName}"/>
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
                    </div>

                    <!-- Email -->
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="text" id="email" placeholder="Email (*)" class="form-control" th:field="*{email}"/>
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                    </div>

                    <!-- Register Button -->

                    <div class="card">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-info btn-sm">Save</button>

                            <a th:href="@{/user/profile}"
                               class="btn btn-danger btn-sm"
                               onclick="if (!(confirm('Are you sure you want to cancel editing this user?'))) return false">
                                Cancel
                            </a>
                        </div>
                    </div>

                </form>

                </tbody>
            </table>



        </div>

    </div>
</div>

</body>
</html>